body {
 background: linear-gradient(to right, rgb(0, 0, 0) 40%, rgb(157, 26, 26) 70%);
    backdrop-filter: blur(10px);
     margin: 0;
  font-family:serif;
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
